.classscfcontainer {
position: relative;
width: 100%;
height: 100%;

}
.classstylecaptchabox {
width: 100%;
top: 0%;
left: 0%;
height: 86%;

position: relative;


}

.classcaptchachr {

position: absolute;

}

.classscffooter {
position: relative;
display: inline-block;
height: 14%;
top: 86%;
width: 100%;

}

.classscffooter a{

/*-moz-text-size-adjust: 100%;
-webkit-text-size-adjust: 100% !important; 
-ms-text-size-adjust: 100%;*/
font-size: 5vw;
float:left;
clear: right;
}

.classscffooter input{
/*-moz-text-size-adjust: 100%;
-webkit-text-size-adjust: 100% !important;
-ms-text-size-adjust: 100%;
*/
font-size: 5vw;
float: right;

}